/* ==== Var For Bootstrap ==== */
$Bg-WhiteLight: hsl(60, 33%, 94%) !important; // #F5F5EB
$Bg-BlackDark: hsl(0, 0%, 7%) !important;     // #121212
$Bg-Scroll: hsl(0, 0%, 12%) !important;     // #1F1F1F

$Glass-Light: rgba(26, 26, 26, 0.6);
$Glass-Dark: hsla(0, 0%, 7%, 0.6);

$Bdr-Black: #000 !important;
$Bdr-White: #FFF !important;

$Titl-White: #FFF !important;
$Titl-Black: #000 !important;

$Tx-White: hsl(0, 0%, 82%) !important; // #D1D1D1
$Tx-Black: #08090AE0 !important;

$lk-CyanLight: hsl(190, 100%, 50%) !important;  // #00D5FF
$lk-PurpleLight: hsl(250, 90%, 40%) !important; // #290AC2
$lk-GreyLight: #6C757D !important;
$lk-WhiteLight: hsl(0, 0%, 82%); // #D1D1D1 !important; // #C1C2C3

/* ==== My Variables ==== */
$PrimaryMain:     hsl(0, 0%, 10%);
$SecondaryMain:   hsl(0, 0%, 12%);
$TerciaryMain:    hsl(0, 0%, 14%);
$QuaternaryMain:  hsl(0, 0%, 16%);
$WhiteGlass:      hsla(0, 0%, 95%,.6);
// $LinkMain:        hsl(250, 90%, 40%);
$ShadowMain:      hsl(0, 0%, 80%);

$PrimaryDark:     hsl(0, 0%, 88%);
$SecondaryDark:   hsl(0, 0%, 86%);
$TerciaryDark:    hsl(0, 0%, 84%);
$QuaternaryDark:  hsl(0, 0%, 82%);
$DarkGlass:       hsla(0, 0%, 10%,.6);
// $LinkDark:        hsl(190, 100%, 50%);
// $ShadowDark:      hsl(0, 0%, 22%);

$Purple-VL: hsla(270, 100%, 80%, 100%);
$Purple-L:  hsla(305, 100%, 70%, 90%);
$D-Purple:  hsla(270, 85%, 60%, 100%);
$VD-Purple: hsla(250, 90%, 40%, 90%);